<a class="tag label greenLabel label-default"
  href="/timelines?sort=<%= params[:sort] %>&tag=<%= tag.name.parameterize %>"
  data-toggle="tooltip" 
  data-placement="top" 
  title="<%= tag.description %>">
  <%= tag.name %> 
  <% if show_count %>
  	x <%= tag.timelines.count %>
  <% end %>
</a>