<%= form_for(@timeline) do |f| %>
  <% if @timeline.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@timeline.errors.count, "error") %> prohibited this timeline from being saved:
      </h2>

      <ul>
      <% @timeline.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %><br>
    <%= f.text_field :title, placeholder: "Dinosaurs", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :tagline %> &nbsp; <small>A one sentance summary to get people interested.</small><br>
    <%= f.text_field :tagline, placeholder: "The mightiest reptiles the Earth has ever known.", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %> &nbsp; <small>Tell people what your timeline is about.</small><br>
    <%= f.text_area :description, rows: 8, placeholder: "This is the history of dinosaurs. \n\nDinosaurs are a group of terrestrial reptiles that first appeared in the Late (or perhaps Middle) Triassic Period, about 230 million years ago. Although dinosaur bones have been discovered throughout human history, these animals were only described scientifically in the early nineteenth century. Since that time, scientists have identified nearly a thousand different dinosaur species, from all continents, and ranging in size from a few kilograms to tens of tons.", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :tags %>
    <%= f.text_field :tags %>
  </div>
  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
