<div class="container">
  <div class="timelineFeed col-sm-9">
    <h2>
      <%= link_to 'Create Timeline', new_timeline_path, class: "btn btn-default btn-sm pull-right" %>
      Timelines
    </h2>

    <% if params[:tag] %>
      <div class="alert alert-warning tagFilterAlert">
        Filtered by <%= render partial: "tags/tag", locals: {tag: @tag, show_count: true} %>
        <a href="/timelines" class="pull-right removeFilters">
          <i class="glyphicon glyphicon-remove"></i>
        </a>
      </div>
    <% end %>

    <% @timelines.each do |timeline| %>
      <div class="timelineContainer">
        <div class="timeline">
          <img class="avatar pull-right" 
            src="https://graph.facebook.com/<%= timeline.user.uid %>/picture?width=64&height=64" 
            height="32px">
          <h4 class="title"><%= link_to timeline.title.titleize, timeline %></h4>
          <p class="tagline"><%= timeline.tagline %></p>
          <% if timeline.tags.count > 0 %>
            <div>
              <% timeline.tags.each do |tag| %>
                <%= render partial: "tags/tag", locals: {tag: tag, show_count: false} %>
              <% end %>
            </div>
          <% end %>
        </div> 
      </div>
    <% end %>
  </div>
  <div class="tagContainer col-sm-3">
    <h2>Tags</h2>
    <% Tag.all.each do |tag| %>
      <%= render partial: "tags/tag", locals: {tag: tag, show_count: true} %>
    <% end %>
  </div>
</div>
