<div class="container">
  
  <h2>
    <%= link_to 'Create Timeline', new_timeline_path, class: "btn btn-default btn-sm pull-right" %>
    Timelines
  </h2>

  <% @timelines.each do |timeline| %>
    <div class="timeline">
      <%= link_to timeline do %>
        <img class="avatar pull-right" 
          src="https://graph.facebook.com/<%= timeline.user.uid %>/picture?width=64&height=64" 
          height="32px">
        <h4 class="title"><%= timeline.title %></h4>
        <p class="tagline"><%= timeline.tagline %></p>
        
      <% end %>
    </div>
  <% end %>
</div>
