<div class="container">
  
  <h2>
    <%= link_to 'Create Timeline', new_timeline_path, class: "btn btn-default btn-sm pull-right" %>
    Timelines
  </h2>

  <% @timelines.each do |timeline| %>
    <div class="timelineContainer">
      <div class="timeline">
        <img class="avatar pull-right" 
          src="https://graph.facebook.com/<%= timeline.user.uid %>/picture?width=64&height=64" 
          height="32px">
        <h4 class="title"><%= link_to timeline.title.titleize, timeline %></h4>
        <p class="tagline"><%= timeline.tagline %></p>
        <% if timeline.tags.count > 0 %>
          <p>
            <% timeline.tags.each do |tag| %>
              <%= render partial: "tags/tag", locals: {tag: tag, show_count: false} %>
            <% end %>
          </p>
        <% end %>
      </div> 
    </div>
  <% end %>
</div>
