<nav class="navbar navbar-default" id="topNav" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Timelino", root_path, :class => "navbar-brand"  %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <ul class="nav navbar-nav">
      <li><%= link_to "All", timelines_path %></li>
      <li><%= link_to "New", new_timeline_path %></a></li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <% if current_user %>
          <a href="#" 
            class="dropdown-toggle" 
            data-toggle="dropdown">
            <img class="avatar" src="https://graph.facebook.com/<%= current_user.uid %>/picture?width=64&height=64" height="32px">
            <strong>&nbsp; <%= current_user.name %></strong>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">My Timelines</a></li>
            <li class="divider"></li>
            <li><a href="/signout">Log Out</a></li>
          </ul>
        <% else %>
          <form class="navbar-form">
            <%= link_to "Sign in with Facebook", "/auth/facebook", class: "btn btn-primary", id: "sign_in" %>
          </form>
        <% end %>
      </li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>